<div class="container" id="sign-up-form">
  <div class="row justify-content-center">
    <h1>Some title</h1>
    <h3>Other title</h3>
    <div class="col-sm-6">
      <h3>Sign up <small>it's free!</small></h3>
      <%= bootstrap_form_for(resource,
                       :as => resource_name,
                       :url => registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.text_field :name,
                    autofocus: true,
                    placeholder: 'username (will be shown publicly)',
                    class: 'form-control' %>
        <%= f.text_field :email,
                    placeholder: 'email',
                    autocomplete: "email",
                    class: 'form-control' %>
        <%= f.password_field :password,
                        placeholder: 'password',
                        autocomplete: "new-password",
                        class: 'form-control' %>
        <%= f.password_field :password_confirmation,
                        placeholder: 'password confirmation',
                        autocomplete: "new-password",
                        class: 'form-control' %>
        <%= f.submit 'Sign up', class: 'btn sign-up-button' %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
