<div id="single-post-content" class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="posted-by">Posted by <%= @post.user.name %></div>
      <h3><%= @post.title %></h3>
      <p><%= @post.content %></p>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row  justify-content-center">
    <%= link_to "Edit", edit_post_path(@post), :class => "btn btn-dark btn-bigger me-0 me-md-2 mb-3 mb-md-0" %>
    <%= link_to "Destroy", post_path(@post), :class => "btn btn-danger btn-bigger" , data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%>
  </div>
</div>
